REDIS_HOST=redis
REDIS_PORT=6379
API_PORT=8000
DOWNLOAD_DIR=downloads

# Optional -- saves to Docker volume/mounted foulder by default
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER_NAME=

# Optional -- time to live for a Redis record in seconds (sometime after that will be removed by a cleanup job)
FILE_TTL=1800

# Optional -- cleanup interval in seconds
CLEANUP_INTERVAL=600